<div class="settings-container" id="settings-eula-panel" style="display: none;">
    <h1 id="title">Contrat de licence de l'utilisateur final</h1>

    <div class="info-container">
        <p class="desc-2">LISEZ ATTENTIVEMENT LE PRÉSENT CONTRAT DE LICENCE DE L’UTILISATEUR FINAL. Le présent Contrat de licence de l’utilisateur final (« CLUF ») régit l’utilisation, par vous-même, du jeu vidéo, de l’application, du logiciel ainsi que de leurs mises à niveau, correctifs et mises à jour et des services associés (le « Produit ») qui sont fournis actuellement ou le seront ultérieurement par FUZE III SARL (collectivement « PALADIUM »).
        <br><br>Le présent CLUF énonce les conditions dans lesquelles PALADIUM met le Produit à votre disposition (l’« utilisateur » ou « vous ») et dans lesquelles vous pouvez l’utiliser. La Charte sur le respect de la vie privée de PALADIUM (« Charte sur le respect de la vie privée »), qui peut être consultée à l’adresse <b>FAIRE CHARTES SUR LE RESPECT DE LA VIE PRIVEE</b>, fait partie intégrante du présent CLUF. En installant ou en utilisant le Produit, vous vous engagez à accepter et à être lié(e) à tout moment par (1) le présent CLUF et (2) la Charte sur le respect de la vie privée. Si vous ne les acceptez pas, veuillez ne pas installer ni utiliser le Produit.
        <br><br>Si vous êtes titulaire d’un Compte PALADIUM sur http://www.paladium-pvp.fr (« Compte »), le présent CLUF coexiste avec les Conditions d’utilisation et ne les remplacent pas. Dans la mesure où les termes du présent Contrat seraient contraires aux termes des Conditions d’utilisation, les termes des Conditions d’utilisation feraient foi.
        <br><br>PALADIUM se réserve le droit de changer, de modifier, d’ajouter ou de supprimer à tout moment des articles du présent CLUF conformément aux procédures décrites ci-après dans la Section 9.
        <br><br>Les termes non définis qui commencent par une majuscule dans le présent CLUF ont le sens qui leur est donné dans les Conditions d’utilisation.</p>

        <br><p class="title-2">1. CONCESSION DE LA LICENCE.</p>
        <p class="desc-2">1.1 PALADIUM vous concède une licence personnelle et non commerciale, non cessible, non exclusive et ne pouvant donner lieu à des sous-licences, pour installer le Produit et tout Produit (la « Licence ») jusqu’à ce que vous ou PALADIUM résiliez le présent CLUF. Vous ne devez en aucun cas utiliser ni autoriser un tiers à utiliser le Produit ou la présente Licence à des fins commerciales sans en avoir obtenu l’autorisation auprès de PALADIUM. Des mises à jour, mises à niveau, correctifs et modifications peuvent s’avérer nécessaires pour que vous permettre de continuer à utiliser le Produit sur certains matériels.
            <br>CE PRODUIT EST MIS À VOTRE DISPOSITION DANS LE CADRE D’UNE LICENCE, IL NE VOUS EST PAS VENDU.
            <br>Le cas échant, certaines parties du Produit peuvent utiliser des caractéristiques tierces, dont certaines sont gérées par des fournisseurs tiers pour lesquels d’autres conditions et/ou prix peuvent s’appliquer. Vous devez respecter ces autres conditions : par exemple, si le Produit propose une application VoIP, vous devez vous conformer au contrat de service de données associé lorsque vous utilisez le Produit. Prenez connaissance de ces conditions et de ces prix.

            <br><br>1.2 Vous vous abstiendrez de, directement ou indirectement (i) vendre, donner à bail, louer, concéder au titre d’une licence, distribuer, commercialiser, exploiter le Produit ou l’une de ses parties commercialement, (ii) soumettre ce Produit à des opérations d’ingénierie inverse, le décompiler, le désassembler, l’adapter, le reproduire en tout ou partie ou en
            créer des œuvres dérivées (sauf si le Produit vous permet, par une fonctionnalité spécifique, de créer, de générer ou de soumettre du Contenu généré par l’utilisateur et pour lequel vous devrez créer un Compte et respecter les Conditions d’utilisation) ; (iii) créer, utiliser et/ou distribuer des programmes informatiques « auto », « trainer », « script » ou « macro » ou autres programmes ou applications logicielles « de tricherie » ou « de piratage » pour ce Produit (que ce soit dans le cadre d’un jeu multijoueurs en ligne ou d’un jeu monojoueur sur Internet ou sur le réseau local) ; (iv) supprimer, modifier, désactiver ou contourner toute indication de droit d’auteur et de marque de fabrique ou autres informations, avis ou étiquettes sur l’auteur et l’origine qui figureraient dans ou sur ce Produit et (v) exporter ou réexporter ce Produit ou une copie d’adaptation en violation des lois ou des règlements applicables.

            <br><br>1.3 Lorsque vous utilisez le Produit, vous vous engagez à respecter l’ensemble des lois, règles et règlements applicables. Vous vous engagez également à respecter certaines règles de conduite qui régissent l’utilisation que vous faites du Produit (« Règles de conduite »), lesquelles ne se veulent pas exhaustives et peuvent être modifiées à tout moment par PALADIUM. Dans tous les cas, vous ne pouvez utiliser le Produit que conformément à l’utilisation prévue.
            <br>Par exemple, et sans que cela ne limite les droits de PALADIUM d’entamer une action à votre encontre, vous ne pouvez pas :

            <br><br>a. créer, utiliser, partager et/ou publier par quelque moyen que ce soit en rapport avec le Produit un document (texte, mots, images, sons, vidéos, etc.) qui serait contraire à un devoir de confidentialité, qui porterait atteinte à un droit de propriété intellectuelle ou au droit à la protection de la vie privée d’un individu ou qui inciterait à commettre un acte illégal (piratage, craquage ou diffusion de logiciels contrefaits en particulier) ;
            <br><br>b. modifier, distordre ou bloquer le Produit, lui imposer une charge anormale, interrompre, ralentir et/ou gêner le fonctionnement normal de tout ou partie du Produit, son accessibilité pour les autres utilisateurs ou le fonctionnement des réseaux de partenaire du Produit, ou tenter de le faire ;
            <br><br>c. transmettre ou propager un virus, un cheval de Troyes, un vers, une bombe, un fichier corrompu et/ou un dispositif destructif similaire ou des données corrompues en rapport avec le Produit, et/ou organiser, participer à ou être impliqué dans une attaque sur les serveurs de PALADIUM, le Produit et/ou ceux de ses prestataires de services et partenaires ;
            <br><br>d. créer, fournir ou utiliser d’autres modes d’utilisation du Produit, par exemple des émulateurs de serveur ;
            <br><br>e. spammer le chat, que ce soit à des fins commerciales ou personnelles, en interrompant le flux de conversation par des posts répétés de nature similaire ;
            <br><br>f. transmettre ou communiquer des documents ou du contenu qui, selon PALADIUM, sont considérés ou réputés offensants, et notamment des paroles qui sont dommageables, illégales, abusives, discriminatoires, diffamatoires, méprisantes, obscènes, sexuellement explicites, ou contestables d’un point de vue racial, ethnique ou autre ;
            <br><br>g. harceler ou menacer les autres utilisateurs du Produit ;
            <br><br>h. faire une utilisation abusive du service d’assistance ou des boutons de réclamation ou envoyer des rapports inexacts aux membres du personnel de PALADIUM ;
            <br><br>i. prétendre à tort être un salarié ou représentant de PALADIUM ou de ses partenaires et/ou mandataires ;
            <br><br>j. se prévaloir à tort d’un cautionnement en rapport avec le Produit ou PALADIUM.
        </p>

        <br><br><p class="title-2">2. PROPRIÉTÉ.</p>
        <p class="desc-2">
            Tous les titres, droits de propriété et droits de propriété intellectuelle relatifs au Produit (et notamment l’ensemble du texte, des graphismes, de la musique ou des sons, tous les messages ou informations, personnages de fiction, noms, thèmes, objets, paysages, costumes, effets, dialogues, slogans, lieux, personnages, schémas, concepts, chorégraphies, vidéos, effets audio-visuels, noms de domaine et tous autres éléments qui font partie du Produit, seuls ou combinés les uns aux autres) et toutes les copies qui en seraient réalisées sont la propriété de PALADIUM. Le Produit est protégé par les lois, traités sur le droit d’auteur, conventions et autres lois en vigueur au niveau national et international. Ce Produit peut contenir des éléments sous licence et, si tel est le cas, les concédants de PALADIUM peuvent protéger leurs droits en cas de manquement au présent Contrat. Toute reproduction ou représentation de ces éléments sous licence de quelque façon et pour quelque motif que ce soit est interdite sauf autorisation préalable de PALADIUM et, le cas échéant, des concédants et représentants de PALADIUM. Sauf disposition expresse contraire du présent CLUF, tous les droits qui ne vous sont pas attribués dans le cadre du présent contrat sont expressément réservés par PALADIUM.
            <br><br>La présente Licence ne confère aucun droit ni propriété concernant le Produit et ne doit pas être interprétée comme étant une cession de droits relatifs aux Produit.
        </p>

        <br><br><p class="title-2">3. ACCÈS AU PRODUIT.</p>
        <p class="desc-2">
            3.1 LE PRODUIT PEUT ETRE PROTÉGÉ PAR UN LOGICIEL DE GESTION DES DROITS NUMÉRIQUES (« LOGICIEL GDN »). DANS CE CAS, VOUS CONVENEZ ET RECONNAISSEZ PAR LES PRÉSENTES CE QUI SUIT CONCERNANT LE LOGICIEL GDN :

            <br>3.1.1. (I) EN INSTALLANT LE PRODUIT, VOUS INSTALLEZ LE LOGICIEL GDN SUR VOTRE ORDINATEUR ;
            <br>3.1.2. (II) LE LOGICIEL GDN PEUT LIMITER LE NOMBRE D’INSTALLATIONS DU PRODUIT ;
            <br>3.1.3. (III) LE LOGICIEL GDN PEUT INSTALLER SUR VOTRE ORDINATEUR D’AUTRES COMPOSANTS QUI SONT REQUIS POUR LE PROTÉGER CONTRE LA COPIE ;
            <br>3.1.4. (IV) PENDANT L’INSTALLATION ET/OU LE PREMIER LANCEMENT DU PRODUIT, UNE CONNEXION EN LIGNE PEUT ÊTRE NÉCESSAIRE POUR LE DÉVERROUILLAGE DU PRODUIT PAR LE LOGICIEL GDN. PALADIUM NE SAURA EN AUCUN CAS ÊTRE RESPONSABLE DES COMPOSANTS QUI POURRAIENT ÊTRE INSTALLÉS SUR VOTRE ORDINATEUR PAR UN LOGICIEL GDN. POUR EN SAVOIR PLUS, CONSULTEZ LE SITE WEB DU LOGICIEL GDN À L’ADRESSE INDIQUÉE PENDANT L’INSTALLATION DU PRODUIT. UNE CONNEXION INTERNET,
            <br>UN COMPTE PALADIUM, L’INSTALLATION DU LOGICIEL CLIENT PALADIUM (WWW.PALADIUM-PVP.FR) EN APPLICATION DES LOIS LOCALES, DES RESTRICTIONS D’ÂGE PEUVENT S’APPLIQUER A L’ACCÈS AUX SERVICES ET AUX FONCTIONNALITÉS EN LIGNE.
        </p>

        <br><br><p class="title-2">4. ACCEPTATION DES CONTRÔLES.</p>
        <p class="desc-2">
            Lorsque vous utilisez le Produit, le Produit peut contrôler la mémoire vive (RAM) de votre matériel afin de détecter les programmes tiers non autorisés et interdits par la Section 1 qui interagissent avec le Produit. Dans le cas où le Produit détecte un programme tiers non autorisé, PALADIUM en est informé, ainsi que de l’intitulé de votre Compte, de votre adresse IP, des détails du programme tiers non autorisé détecté, de l’heure et de la date auxquelles le programme tiers non autorisé a été détecté, et des spécifications et de la performance de votre matériel, avec ou sans autre préavis. Si le Produit détecte l’utilisation d’un programme tiers non autorisé, la présente Licence et votre accès au Produit peuvent être résiliés, que vous en soyez avisé(e) ou non.
            <br><br>Toutefois, il est à noter que PALADIUM ne cautionne pas et n’assume aucune responsabilité concernant les opinions, conseils et/ou recommandations affichés ou que vous envoyez dans le Produit, y compris dans les chats du jeu. Ces communications sont la responsabilité exclusive de l’utilisateur en question.
        </p>

        <br><br><p class="title-2">5. ABSENCE DE GARANTIE, LIMITATION DE LA RESPONSABILITÉ.</p>
        <p class="desc-2">
            VOUS RECONNAISSEZ EXPRESSÉMENT QUE VOUS UTILISEZ LE PRODUIT À VOS RISQUES ET PÉRILS. DANS LA MESURE OÙ LA LOI APPLICABLE LE PERMET, LE PRODUIT EST FOURNI « EN L’ÉTAT » ET « EN FONCTION DES DISPONIBILITÉS ». PALADIUM, SES PARTENAIRES DE DISTRIBUTION ET PRESTATAIRES DE SERVICES ASSOCIÉS NE DONNENT AUCUNE CONDITION NI GARANTIE DE QUELQUE NATURE QUE CE SOIT, EXPRESSE, TACITE OU LÉGALE, ET LES REJETTENT TOUTES AINSI QUE LES AUTRES TERMES, Y COMPRIS EN CE QUI CONCERNE :

            <br><br>(A) SA CONFORMITÉ, SON EXACTITUDE, SON ACTUALITÉ, SON EXHAUSTIVITÉ, SA FIABILITÉ OU SON INNOCUITÉ
            <br>(B) SON ADÉQUATION À UN USAGE PARTICULIER ;
            <br>(C) LES GARANTIES TACITES DE PROPRIÉTÉ ET DE NON-CONTREFAÇON ;
            <br>(D) SA VALEUR MARCHANDE ;
            <br>(E) VOTRE SATISFACTION. PALADIUM NE GARANTIT PAS QUE LE PRODUIT SERA EXEMPT D’INTERRUPTION OU D’ERREUR, QUE LES DÉFAUTS SERONT CORRIGÉS OU QUE LE PRODUIT EST EXEMPT DE VIRUS OU D’AUTRES COMPOSANTS NUISIBLES. VOUS ASSUMEZ L’ENTIÈRE RESPONSABILITÉ DE LA SÉLECTION DU PRODUIT POUR PARVENIR AUX RÉSULTATS QUE VOUS ATTENDEZ AINSI QUE DE SON INSTALLATION, DE SON UTILISATION ET DES RÉSULTATS QUE VOUS EN OBTENEZ.

            <br><br>DANS LES LIMITES AUTORISÉES PAR LA LOI EN VIGUEUR, PALADIUM, PARTENAIRES DE DISTRIBUTION ET PRESTATAIRES DE SERVICES ASSOCIÉS NE SAURONT EN AUCUN CAS ÊTRE RESPONSABLES DES PRÉJUDICES OU DOMMAGES SUBIS EN RAPPORT AVEC L’UTILISATION DU PRODUIT OU D’UN SERVICE TIERS ASSOCIÉ. SONT INCLUS, SANS LIMITATION

            <br><br>(A) TOUS LES PRÉJUDICES DE TOUTE NATURE, QU’ILS RÉSULTENT DE LA RESPONSABILITÉ DÉLICTUELLE (NÉGLIGENCE ET INEXÉCUTION D’UNE OBLIGATION LÉGALE COMPRISES), D’UN CONTRAT, DE FAUSSES DÉCLARATIONS (ACCIDENTELLES OU PAR NÉGLIGENCE) OU ENCORE
            <br>(B) LES DOMMAGES DIRECTS ;
            <br>(C) LES DOMMAGES ACCIDENTELS,
            <br>(D) LES DOMMAGES ACCESSOIRES,
            <br>(E) LES DOMMAGES CONSÉCUTIFS,
            <br>(F) LES DOMMAGES INDIRECTS.

            <br><br>NONOBSTANT LES LIMITATIONS DE RESPONSABILITÉ CI-DESSUS, VOTRE SEUL ET UNIQUE RECOURS, EN CAS DE LITIGE AVEC PALADIUM, PARTENAIRES DE DISTRIBUTION ET PRESTATAIRES DE SERVICES ASSOCIÉS, CONSISTE À CESSER D’UTILISER LE PRODUIT ET, LE CAS ÉCHÉANT, DE DEMANDER DES DOMMAGES ET INTÉRÊTS POUR VOS PRÉJUDICES. POUR TOUT PRODUIT ACHETÉ EN VUE D’UNE UTILISATION SUR UN TERMINAL MOBILE COMPATIBLE QUI NE RÉPONDRAIT PAS AUX GARANTIES LÉGALES APPLICABLES, LA RESPONSABILITÉ DE PALADIUM EST LIMITÉE AU REMBOURSEMENT (DIRECTEMENT OU INDIRECTEMENT PAR L’INTERMÉDIAIRE DE SES PARTENAIRES DE DISTRIBUTION OU PRESTATAIRES DE SERVICES ASSOCIÉS) DU PRIX D’ACHAT DU PRODUIT. PALADIUM, PARTENAIRES DE DISTRIBUTION ET PRESTATAIRES DE SERVICES ASSOCIÉS NE SERONT EN AUCUN CAS RESPONSABLES DE DOMMAGES D’UN MONTANT SUPÉRIEUR AU PRIX QUE VOUS AVEZ PAYÉ À PALADIUM POUR LE PRODUIT AU COURS DES DEUX (2) MOIS PRÉCÉDANT LA NAISSANCE DE VOTRE MOTIF D’ACTION.
            <br><br>AUCUN TERME DE LA PRÉSENTE SECTION 5 N’AFFECTE LA RESPONSABILITÉ DE PALADIUM EN CAS DE DÉCÈS OU DE DOMMAGE CORPOREL RÉSULTANT DE LA NÉGLIGENCE DE PALADIUM  OU EN CAS DE FRAUDE OU DE FAUSSE DÉCLARATION, NI AUCUNE AUTRE RESPONSABILITÉ QUI NE PEUT ÊTRE EXCLUE OU LIMITÉE AUX TERMES DE LA LOI EN VIGUEUR.
            <br><br>AUX FINS DE LA PRÉSENTE SECTION 5, SES PARTENAIRES DE DISTRIBUTION ET PRESTATAIRES DE SERVICES ASSOCIÉS BÉNÉFICIENT EN TANT QUE TIERS DES LIMITATIONS DE RESPONSABILITÉ SPÉCIFIÉS DANS LES PRÉSENTES ET PEUVENT FAIRE VALOIR LE PRÉSENT CLUF CONTRE VOUS.
        </p>

        <br><br><p class="title-2">6. INDEMNISATION.</p>
        <p class="desc-2">
            Vous assumez l’entière responsabilité des dommages causés à PALADIUM, à ses partenaires de distribution, prestataires de services associés et sous-traitants, aux autres utilisateurs du produit et à toute autre personne physique ou personne morale, par un manquement de votre part au présent CLUF.
            <br><br>VOUS VOUS ENGAGEZ PAR LES PRÉSENTES À GARANTIR PALADIUM, PARTENAIRES DE DISTRIBUTION ET PRESTATAIRES DE SERVICES ASSOCIÉS AINSI QUE LEURS SOUS-TRAITANTS CONTRE L’ENSEMBLE DES RECOURS, DEMANDES, DETTES, PERTES ET DOMMAGES PRÉSUMÉS ET CONTRE L’ENSEMBLE DES FRAIS (FRAIS D’AVOCAT INCLUS), DIRECTEMENT OU INDIRECTEMENT IMPUTABLES À VOTRE FAUTE ET/OU RÉSULTANT
            <br>(A) DE L’INEXÉCUTION D’UN TERME DU PRÉSENT CLUF
            <br>(B) DE L’UTILISATION, ABUSIVE OU NON, À LAQUELLE VOUS SOUMETTEZ LE PRODUIT.
            <br>PALADIUM se réserve le droit d’assumer seul, à ses frais, la direction de la contestation de toute demande contre laquelle vous vous êtes engagé(e) à garantir PALADIUM. Les termes de la présente Section 6 resteront en vigueur après la résiliation du présent CLUF.
        </p>

        <br><br><p class="title-2">7. RÉSILIATION.</p>
        <p class="desc-2">
            Le CLUF prend effet à la date à laquelle vous installez le Produit, à la date à laquelle vous le téléchargez ou à la date à laquelle vous commencez à l’utiliser, au premier des termes échus, et il restera en vigueur jusqu’à ce qu’il soit résilié conformément à ses termes. Vous et PALADIUM  pouvez résilier le présent CLUF à tout moment et pour quelque motif que ce soit. La résiliation du présent CLUF à l’initiative de PALADIUM  prendra effet
            <br>(a) dès lors que vous en serez avisé(e) ou
            <br>(b) à la résiliation de votre Compte PALADIUM (si vous en avez un) ou
            <br>(c) à la date de la décision de PALADIUM  de cesser de proposer le Produit et/ou d’en assurer l’assistance. Le présent CLUF sera automatiquement résilié si vous ne respectez pas l’un de ses termes et conditions. À la résiliation, quel qu’en soit le motif, vous devez immédiatement désinstaller le Produit et détruire toutes les copies de celui-ci qui se trouvent en votre possession.
        </p>

        <br><br><p class="title-2">8. MODIFICATION DU PRÉSENT CLUF OU DU PRODUIT.</p>
        <p class="desc-2">
            PALADIUM se réserve le droit, à son gré, de réviser, de mettre à jour, de changer, de modifier, d’ajouter, de compléter ou de supprimer certains termes du présent CLUF pour des raisons de sécurité, juridiques, de meilleures pratiques ou de réglementation. Vous ne recevrez pas obligatoirement un avis préalable vous informant de la prise d’effet de ces modifications. Vous pouvez consulter la version la plus récente du présent CLUF en cliquant sur le lien « CLUF » qui se trouve sur le Produit ou sur paladium-pvp.fr. Il vous incombe de consulter le présent CLUF périodiquement afin de prendre connaissance de toute modification. Si une modification future du présent CLUF vous paraît inacceptable ou vous amène à ne plus être d’accord ou en conformité avec le présent CLUF, vous pouvez résilier le présent CLUF conformément à la Section 7 et devez immédiatement désinstaller le Produit et détruire toutes les copies du Produit. En continuant d’utiliser le Produit après une révision du présent CLUF, vous acceptez de façon entière et irrévocable toutes les modifications apportées au CLUF.
            <br><br>PALADIUM peut modifier le Produit pour quelque raison que ce soit ou sans raison spécifique, à tout moment et à son gré, en particulier pour des raisons techniques telles que les mises à jour, les opérations de maintenance et/ou les réinitialisations destinées à améliorer et/ou optimiser le Produit. Vous convenez que le Produit peut installer ou télécharger les modifications automatiquement. Vous convenez que PALADIUM peut arrêter d’assurer le support du Produit dès lors qu’une version mise à jour est disponible. Les partenaires de distribution et prestataires de services associés de PALADIUM n’ont aucune obligation d’assurer la maintenance ou le support client du Produit. PALADIUM se réserve également le droit de modifier les Règles de conduite exposées dans la Section 1 afin d’imposer des limites concernant l’utilisation du Produit.
        </p>

        <br><br><p class="title-2">9. DIVERS.</p>
        <p class="desc-2">
            9.1 Autonomie des termes. Si une autorité ou un tribunal compétent estime qu’un terme du présent CLUF est invalide, illégal ou inexécutoire, le terme ou la partie du terme en question, sera réputé, dans les limites nécessaires, être supprimé, et la validité et la nature exécutoire des autres termes du présent CLUF n’en seront pas affectées. Dans le cas où un terme non valable, inexécutoire ou illégal du présent CLUF serait valide, exécutoire et légal si une partie de ce terme était supprimé, il s’appliquera avec la modification minimale nécessaire pour le rendre légal, valable et exécutoire tout en reflétant les intentions initiales de PALADIUM.

            <br><br>9.2 Absence de renonciation. Le fait, pour PALADIUM, de tarder à faire valoir ou de ne pas faire valoir du tout un droit ou un recours prévu au présent CLUF ou par la loi ne saura valoir renonciation à ce droit ou recours ni à aucun autre droit ou recours, et ne saura en empêcher ni en restreindre l’exercice futur. L’exercice en une seule occasion ou l’exercice partiel de ce droit ou recours ne saura empêcher ni restreindre l’exercice du droit ou recours en question ou d’un autre droit ou recours. La renonciation à un droit ou recours ne peut être considérée effective qu’après signature d’une déclaration écrite de cette teneur par PALADIUM ou par l’utilisateur.

            <br><br>9.3 Loi et juridiction. Le présent CLUF est régi par les lois françaises, sans application de ses règles relatives aux conflits de lois ; et vous reconnaissez expressément la compétence exclusive des Tribunaux français pour toute plainte ou tout litige avec PALADIUM, ou en rapport de quelque manière que ce CLUF ou l'usage que vous faites du Produit, et vous acceptez en outre et consentez expressément à l'exercice de la compétence territoriale dans les Tribunaux français en rapport avec tout litige de ce genre, y compris toute plainte mettant en cause PALADIUM, et leurs sous-traitants, vendeurs et fournisseurs de contenu respectifs.

            <br><br>Pour toute question relative au présent CLUF, vous pouvez contacter PALADIUM à l’adresse suivante : contact@paladium-pvp.fr
            <br><br>LE PRÉSENT CLUF NE S’APPLIQUE QUE DANS LA MESURE AUTORISÉE PAR LA LOI.
        </p>
    </div>
</div>