<div class="box-user">
    <p>
        <span id="launcher-user-compte-displayname-label"></span>
        <div class="avatar" id="launcher-user-compte-profile" style="background-image: url('https://mc-heads.net/avatar/');"></div>
    </p>
</div>