<div id="loading-view" style="display: none;">
    <div class="loading-container">
        <div class="paladium-loader"></div>

        <div class="loading-text">
            <p id="loading-splash-text"></p>
            <p class="loading-sudmitted-text">Proposé par <span id="loading-sudmitted-author"></span></p>
            <p id="loading-statut-text">Chargement en cours</p>
        </div>
    </div>
</div>